.form_section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(120deg, #ebedee 0%, #fdfbfb 100%);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
form{
    background-color: white;
    padding: 0px 5rem;
    border-radius: 10px;
}

h1{
    color: black;
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(57, 120, 246);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}
.agreement{
  display: flex;
  align-items: center;

}
.agreement input{
  margin-left: .1rem;
}
.agreement p{
  margin-left: .8rem;
}
