.formInput{
  display: flex;
  flex-direction: column;
  width: 22rem;
}

input{
  padding: .5rem;
  margin: .5rem 0rem .2rem 0rem;
  border-radius: .3rem;
  border: 1px solid gray;
}


label{
  text-align: start;
  font-size: 1.1rem;
  color: gray;
}

span{
  font-size: .7rem;  
  color: red;
  display: none;
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
  display: block;
}